body {
    margin: 0;
    font-family: 'Source Sans 3', sans-serif;
    color: #0096ff;
    background: linear-gradient(to bottom, #000, #222, #444);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #000;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.logo {
    font-size: 24px;
    background: linear-gradient(70deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.nav-links {
    display: flex;
}

.nav-links a {
    margin: 0 10px;
    text-decoration: none;
    background: linear-gradient(70deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    height: 3px;
    width: 25px;
    background-color: #0096ff;
    margin: 4px 0;
    transition: 0.4s;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    padding: 40px;
    margin-top: 80px; /* Adjust margin to account for fixed header */
}

.hero h1, .hero p, section h2, .feature, .placeholder h3, .contact-us h2, .contact-us p, .waitlist h2, .waitlist-input::placeholder {
    background: linear-gradient(70deg, #00c6ff, #0072ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.hero h1 {
    font-size: 48px;
    margin: 20px 0;
}

.hero p {
    font-size: 24px;
    margin-top: 20px;
}

section {
    padding: 100px 20px;
    text-align: center;
}

.how {
    padding-top: 50px;
}

.how h2 {
    font-size: 48px; /* Increased font size for prominence */
    margin-bottom: 50px;
}

.features {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.feature {
    padding: 20px;
    font-size: 24px; /* Increased font size for features */
    margin: 20px;
    text-align: center;
}

.placeholders {
    padding: 50vh 20px;
    text-align: center;
}

.placeholder-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 20px;
    min-height: 100vh;
}

.placeholder {
    background: #222;
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 250px;
    max-width: 300px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    aspect-ratio: 1 / 1;
}

.placeholder img {
    max-width: 100%;
    max-height: 70%;
    height: auto;
    margin-bottom: 10px;
}

.contact-us {
    padding-top: 200px;
}

.contact-us h2, .contact-us p {
    font-size: 32px;
}

.waitlist {
    padding: 100vh 20px;
    text-align: center;
    background: #111;
}

.waitlist h2 {
    font-size: 36px;
    margin-bottom: 50px;
}

.waitlist-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.waitlist-input {
    padding: 15px;
    font-size: 18px;
    border: 1px solid #0096ff;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
}

.waitlist-button {
    padding: 15px 30px;
    font-size: 18px;
    color: #fff;
    background: linear-gradient(70deg, #00c6ff, #0072ff);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    padding: 50px 20px;
    text-align: center;
    background: #000;
    color: #0096ff;
}

/* Specific styles for AI Assistant and Learning Resources sections */
.placeholder-container.ai-assistant,
.placeholder-container.learning-resources {
    flex-direction: row;
    justify-content: space-around;
}

.placeholder-container.learning-resources {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}

.placeholder-container.learning-resources .placeholder {
    flex: 1;
}

.placeholder-container.learning-resources .placeholder:nth-child(1) {
    grid-column: 1;
    grid-row: 1 / span 2;
}

.placeholder-container.learning-resources .placeholder:nth-child(2) {
    grid-column: 2;
    grid-row: 1 / span 2;
}

/* Media Queries for mobile optimization */
@media (max-width: 768px) {
    .hero {
        padding: 40px;
        height: auto;
    }

    .hero h1 {
        font-size: 32px;
        margin: 20px 0;
        line-height: 1.2;
    }

    .hero p {
        font-size: 18px;
        margin-top: 10px;
        line-height: 1.4;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
    }

    .nav-links a {
        margin: 10px 0;
    }

    .nav-links.active {
        display: flex;
    }

    .waitlist-form {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .waitlist-input {
        width: 80%;
        margin-bottom: 10px;
    }

    nav {
        margin-top: 10px;
    }

    nav a {
        display: block;
        margin: 5px 0;
    }

    .features, .placeholder-container {
        flex-direction: column;
        align-items: center;
    }

    .feature, .placeholder {
        flex: 1 1 100%;
        margin: 10px 0;
    }

    section {
        padding: 50px 20px;
    }

    .how h2, .contact-us h2, .contact-us p {
        font-size: 24px;
    }

    .waitlist {
        padding: 100px 20px;
    }

    .waitlist h2 {
        font-size: 28px;
    }

    .waitlist-input {
        width: 80%;
        margin-bottom: 10px;
    }

    .waitlist-button {
        padding: 10px 20px;
        font-size: 16px;
    }
}
